<h1>Make a new Guitar</h1>

<%= form_for(@guitar) do |f| %>
    <div>
    <%= f.label :type %>
    <%= f.text_field :type %>
    </div>
    <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
    </div>

    <p> Select a Make that exists </p>
    <div> 
    <%= f.collection_select :make_id, Make.all, :id, :name %>

    </div>

  

    <p> Or create a new Make: </p>
    <div>
    f.fields_for :make

    </div>

    <%= f.submit "Create a Guitar" %>
    <% end %>

    t.integer "make_id", null: false
    t.integer "user_id", null: false